<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="src/css/about.css" />
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon"
        href="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/291746184_769150660950106_9022025498033681382_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=tR1lQVhHFa8AX9uy8Xi&tn=D7p54ZetywhaBBwA&_nc_ht=scontent.fhan14-1.fna&oh=00_AT_hze_CJRwfkb1_EgSvXI8UXvhbmKbSP84cbclCGPfYaw&oe=62DC17E8" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;800&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="https://fonts.adobe.com/fonts/poppins#details-section+poppins-thin"> -->
    <link rel="stylesheet" href="https://www.dafontfree.net/playfair-display-bold/f59120.html">
    <link rel="stylesheet" href="https://fontsfree.net/?s=Poppins">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>Blog</title>
</head>

<body>
    <!-- Dựng base -->

    <div id="app">
        <div id="header">

            <div class="header-top">
                <div class="sub-header-top">
                    <div class="left-title">
                        <h4>Website designed by Manh Cuong</h4>
                    </div>
                    <div class="list-header">
                        <ul>
                            <li><a href=""> Help & FAQs</a></li>
                            <li><a href=""> My Account</a></li>
                            <li><a href=""> EN</a></li>
                            <li><a href=""> USD</a></li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="sub-nav" id="nav">

                <div class="nav">


                    <div class="photo-logo">
                        <a href="index.html"><img src="src/img/logo.webp" style="cursor: pointer;" alt="" /></a>
                    </div>
                    <div class="list-menu">
                        <ul>
                            <li>
                                <a href="index.html" id="home"> Home
                                    <ul class="sub-menu">
                                        <li><a href="">Homepage 1</a></li>
                                        <li><a href="">Homepage 1</a></li>
                                        <li><a href="">Homepage 1</a></li>
                                    </ul>
                                </a>
                            </li>
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="features.html">Features</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                    <div class="list-icon" id="list-icon">
                        <div class="icons search" id="iconSearch">

                            <input type="text" id="input_search" placeholder="New Product..?">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                        <div class="icons cart">
                            <i class="fa-solid fa-cart-shopping"></i>
                        </div>
                        <div class="icons heart">
                            <i class="fa-solid fa-heart"></i>
                        </div>
                        <div class="toggle">
                            <i class='bx bx-sun'></i>
                        </div>
                    </div>



                </div>



            </div>
        </div>

        <div id="main">
            <div class="banner">
                <div class="text-banner">
                    <h1>About</h1>
                </div>

            </div>
            <div class="content-about">
                <div class="content-0">
                    <div class="text-content" data-aos="fade-right">
                        <h3>Our Story</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris consequat consequat enim, non auctor massa ultrices non. Morbi sed odio massa. Quisque at vehicula tellus, sed tincidunt augue. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas varius egestas diam, eu sodales metus scelerisque congue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas gravida justo eu arcu egestas convallis. Nullam eu erat bibendum, tempus ipsum eget, dictum enim. Donec non neque ut enim dapibus tincidunt vitae nec augue. Suspendisse potenti. Proin ut est diam. Donec condimentum euismod tortor, eget facilisis diam faucibus et. Morbi a tempor elit.</p>
                        <p>Donec gravida lorem elit, quis condimentum ex semper sit amet. Fusce eget ligula magna. Aliquam aliquam imperdiet sodales. Ut fringilla turpis in vehicula vehicula. Pellentesque congue ac orci ut gravida. Aliquam erat volutpat. Donec iaculis lectus a arcu facilisis, eu sodales lectus sagittis. Etiam pellentesque, magna vel dictum rutrum, neque justo eleifend elit, vel tincidunt erat arcu ut sem. Sed rutrum, turpis ut commodo efficitur, quam velit convallis ipsum, et maximus enim ligula ac ligula.</p>
                        <p>Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879</p>
                    </div>

                    <div class="image-conten-about" data-aos="fade-left">
                        <div class="border">
                            <div class="image-content">
                                <img src="src/img/content1-about.webp" width="100%" alt="">
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="content-1">
                    <div class="image-conten-about" data-aos="fade-right">
                        <div class="border">
                            <div class="image-content">
                                <img src="src/img/content2-about.webp" width="100%" alt="">
                            </div>
                        </div>
                       
                    </div>
                    <div class="text-content" data-aos="fade-left">
                        <h3>Our Mission</h3>
                        <p>Mauris non lacinia magna. Sed nec lobortis dolor. Vestibulum rhoncus dignissim risus, sed consectetur erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam maximus mauris sit amet odio convallis, in pharetra magna gravida. Praesent sed nunc fermentum mi molestie tempor. Morbi vitae viverra odio. Pellentesque ac velit egestas, luctus arcu non, laoreet mauris. Sed in ipsum tempor, consequat odio in, porttitor ante. Ut mauris ligula, volutpat in sodales in, porta non odio. Pellentesque tempor urna vitae mi vestibulum, nec venenatis nulla lobortis. Proin at gravida ante. Mauris auctor purus at lacus maximus euismod. Pellentesque vulputate massa ut nisl hendrerit, eget elementum libero iaculis.</p>
                        <div class="admin">
                           <span> </span>
                            <div class="text-admin">
                                <p>Creativity is just connecting things. When you ask creative people how they did something, they feel a little guilty because they didn't really do it, they just saw something. It seemed obvious to them after a while.</p>
                        <p>- Bui Manh Cuong's.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>






            
        </div>

        <div id="footer">
            <div class="text-footer">
                <div class="cate">
                    <h3>CATEGORIES</h3>
                    <p><a href="">Women</a></p>
                    <p><a href="">Men</a></p>
                    <p><a href="">Shoes</a></p>
                    <p><a href="">Watches</a></p>
                </div>
                <div class="help">
                    <h3>HELP</h3>
                    <p><a href="">Track Order</a></p>
                    <p><a href="">Returns</a></p>
                    <p><a href="">Shipping</a></p>
                    <p><a href="">FAQs</a></p>
                </div>
                <div class="touch">
                    <h3>GET IN TOUCH</h3>
                    <p>Any questions? Let us know in store at 8th floor,Vu Binh, Kien Xuong,Thai Binh, NY 10018 or call
                        us
                        on
                        (+84) 968 68 68 68</p>
                    <p>
                        <i class='bx bxl-facebook'></i>
                        <i class='bx bxl-instagram'></i>
                        <i class='bx bxl-twitter'></i>
                    </p>
                </div>
                <div class="mail">
                    <h3>NEWSLETTER</h3>

                    <div class="input-mail">

                        <input type="email" placeholder="email@example.com">
                        <span></span>
                    </div>

                    <p><a href="">SUBSCRIBE</a></p>

                </div>
            </div>



            <div class="local-footer">
                <div class="image-logo-footer">
                    <img src="src/img/ft1.webp" alt="">
                    <img src="src/img/ft2.webp" alt="">
                    <img src="src/img/ft3.webp" alt="">
                    <img src="src/img/ft4.webp" alt="">
                    <img src="src/img/ft5.webp" alt="">
                </div>
                <div class="text-local-footer">
                    <p>Copyright ©2022 All rights reserved | This template is made with <i class='bx bx-heart'></i> by
                        <span style="color: #007bff;cursor: pointer;">Cường đẹp trai vkl</span>
                    </p>
                </div>
            </div>

            <div class="back-footer">
                <a href="#"><i class='bx bx-arrow-to-top bx-fade-up'></i></a>
            </div>
        </div>

    </div>

    <script src="src/js/about.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>
</body>

</html>